/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-color: #353430;
  --font-title-color: #FFC2E6;
  --backgroung-color: ;
  --darkpink-color: #FF8DCB;
}